<!-- ./views/bookmarks/new.erb -->

<div class="add-bookmark">
  <form method="POST" action='/bookmarks/new'>
    <label for="bookmark-url">
    <input id="url" type="text" name="url" />
    <input type="submit" value="Add Bookmark">
  </form>
</div>